body{
  font-size: 14px;
  color:#c7cde5;
}
.con-box{
	width:100%;
	/*background-color: green;*/
}
.header{
	width:100%;
	height:85px;
	line-height:85px;
	background-color: rgba(0,0,0,.7);
	box-sizing: border-box;
	padding:0 100px;
	position: fixed;
	top:0;
	z-index: 999;
}
.slider{
	height:500px;
	width:100%;
}
.block{
	height: 100%;
}
el-carousel,el-carousel-item{
	width:100%;
}
el-carousel-item img{
	width:100%;
}

/*.news-item {*/
	/*color:#fff;*/
	/*background-color: rgba(14, 19, 40,1);*/
/*}*/

/*表单内容*/
.content{
  width:1300px;
	/*width:100%;*/
	/*padding:0 100px;*/
	position: relative;
}
.el-tabs__item:hover{
	color:#2884e6;
}
.el-tabs__item{
	color:#fff;
  padding:0 10px;
}
/* 任付为加的面包屑导航样式---开始 */
.el-breadcrumb__inner, .el-breadcrumb__inner a{
  color: #DCDFD8;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
  color: #1275DA;
}
/* 任付为加的面包屑导航样式---结束 */
/* 新闻公告部分开始 */
.news {
  height:60px;
  width:100%;
  /* 任付伟改动公告滚动背景颜色 :background-color: #0E1327; */
  background-color: #0E1327;
  line-height: 60px;
}

/* 新闻公告部分结束 */

/* 任付伟财务中心样式覆盖修改---开始 */
.financeContent .el-tabs__item{
  width: 170px;
  height: 60px;
  line-height: 60px;
  /*font-size: 16px;*/
}
.financeContent .el-tabs--left .el-tabs__item.is-left{
  text-align: left;
  padding-left:46px;
}
.financeContent .el-tabs__item.is-disabled{
  color: #fff;
  background-color: #0E1326;
  box-shadow: 2px 4px 6px #000;
  z-index: 99;
}
.financeContent .el-tabs--left .el-tabs__active-bar.is-left, .el-tabs--left .el-tabs__nav-wrap.is-left::after{
  width: 16px;
  background-color: #1D2538;
  z-index: 999;
}
.financeContent .el-tabs__item.is-active{
  background-color: #081025;
}
/* 任付伟财务中心样式覆盖修改---结束 */

/*  任付伟改新闻部分导航样式-开始 */
.newNavs .el-tabs__nav{
  float: none;
// position: relative;
}
.newNavs .el-tabs__nav-wrap{
  height: 60px;
  line-height: 60px;
}
.newNavs .el-tabs__item{
  font-size: 16px;
  margin: 0 14%;
}
.newNavs .el-tabs__header{
  background-color: #0F1427;
}
.newNavs .el-tabs__nav-wrap::after{
  background-color: #0F1427;
}
.newNavs .el-tabs__content{
// overflow: none;
}
.newNavs .el-tabs__active-bar{
  background-color: transparent;
}
.newNavs .titleNavs{
// display:inline-block;
  padding:10px;
  box-sizing: border-box;
  position: relative;

}
.newNavs .titleNavs>i {
  position: absolute;
  left:-3px;
  bottom:0;
  width:88px;
  height:2px;
// background-color:transparent;
}
.newNavs .titleNavs>i.active{
  background-color: #2769B3;
}

/*  任付伟改新闻部分导航样式-结束 */

/* 任付伟更改财务中心push资产样式-开始 */

.pushAss{
  background-color: #0E1326;
}

.pushAss button{
  background: #192136;
  border: 1px solid #a0a3ab;
}
.pushAss button:hover{
  background: #66B1FF;
  border: 1px solid #a0a3ab;
}
.pushAss .el-form-item__label{
  padding-right: 20px;
}
/* 任付伟更改财务中心push资产样式-结束 */

/* 任付伟更改财务中心币存收益样式-开始 */
.push_box{
  background-color: #0E1326;
}
.push_box .el-form-item__label{
  padding-right: 20px;
}
.push_box button{
  background: #192136;
  border: 1px solid #a0a3ab;
}
.push_box button:hover{
  background: #66B1FF;
  border: 1px solid #a0a3ab;
}
/* 任付伟更改财务中心币存收益样式-结束 */

.friendlyTip .el-icon-close:before{
  content: ''
}



/*孝喜改element样式*/

.el-collapse-item__header {
  background: #11182c;
  color: #c2c3c8;
  text-align: left;
  font-size: 16px;
  padding-left: 2.5%;
  box-sizing: border-box;
}

.el-collapse {
  border: 0;
}

.el-collapse-item__content {
  padding-bottom: 0;
}

.el-collapse-item__wrap {
  border: 0;
  background: #11182c;
  padding-top: 3%;
}

.el-form {
  width: 36.5%;
  margin: 0 auto;
  color: #c2c3c8;
}

.el-input__inner {
  background: #11182c;
  border: 1px solid #a0a3ab;
}

.el-date-editor.el-input {
  width: 140px;
  color: #c2c3c8;
  z-index: 99;
}

.el-input__inner {
  height: 30px;
  color: #c2c3c8;
}

.el-input__prefix {
  top: -5px;
}

.el-picker-panel {
  border: 1px solid rgb(102, 106, 117);
  background: #11182B;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  top: -7px;
  border-bottom-color: rgb(102, 106, 117);
}

.el-col-12 {
  width: 12%;
  height: 60px;
  float: left;
  line-height: 25px;
  margin-left: 1%;
}

.el-dropdown {
  width: 75px;
  height: 29px;
  margin-top: 15px;
  border: 1px solid #a0a3ab;
  border-radius: 3px;
  line-height: 29px;
  margin: 15px 0 0 7px;
  color: #c2c3c8;
}

.el-dropdown-menu {
  background: #11182c;
  border: 1px solid rgb(102, 106, 117);
  border-bottom-color: rgb(102, 106, 117);
}

.el-dropdown-menu__item {
  line-height: 25px;
  color: #c2c3c8;
  font-size: 12px;
}

.el-dropdown-menu__item:not(.is-disabled):hover {
  color: #66b1ff;
  background: transparent;
}

.el-select-dropdown {
  background: #11182c;
  border: 1px solid rgb(102, 106, 117);
  border-bottom-color: rgb(102, 106, 117);
}

.el-select-dropdown__item {
  color: #c2c3c8;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #081025;
  color: #1275DA;
}

.el-input--suffix .el-input__inner,
.el-form-item__label {
  color: #c2c3c8;
}

.el-dialog {
  background: rgb(38, 42, 66);
}

.el-dialog__title {
  color: #c2c3c8;
}

.el-form-item__label {
  width: 16%;
}
.el-tooltip__popper.is-dark {
  background: transparent;
}




/*.el-collapse-item__header {*/
  /*background: #11182c;*/
  /*color: #c2c3c8;*/
  /*text-align: left;*/
  /*!*font-size: 16px;*!*/
  /*padding-left: 2.5%;*/
  /*box-sizing: border-box;*/
/*}*/

/*.el-collapse {*/
  /*border: 0;*/
/*}*/

/*.el-collapse-item__content {*/
  /*padding-bottom: 0;*/
/*}*/

/*.el-collapse-item__wrap {*/
  /*border: 0;*/
  /*background: #11182c;*/
  /*padding-top: 3%;*/
/*}*/

/*.el-form {*/
  /*width: 36.5%;*/
  /*margin: 0 auto;*/
  /*color: #c2c3c8;*/
/*}*/

/*.el-input__inner {*/
  /*background: #11182c;*/
  /*border: 1px solid #a0a3ab;*/
/*}*/
/*.el-tabs--left .el-tabs__header.is-left{*/
  /*margin-right:0;*/
/*}*/



/*表头*/
.el-table th{
  background-color:#0e1425;
  color:#c7cde5;
  font-weight: 700;
}
/*表格主色*/
.el-table, .el-table__expanded-cell, .el-table tr{
  background-color:#212537;
  color:#c7cde5;
}

.el-table td, .el-table th.is-leaf{
  border:none;
  text-align: center;
  height:40px;
  padding:0;
 line-hieght:40px;
  font-weight: 700;
}
/*表格hover变色*/
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color:#1b1f2e;

}
.el-tabs--left .el-tabs__nav-wrap.is-left{
  margin-right:0px;
}
.el-table--border::after, .el-table--group::after, .el-table::before{
  background-color: transparent;
}
.financeContent .el-tabs--left .el-tabs__item.is-left{
  background-color:#0e1425;
}
.financeContent .el-tabs--left .el-tabs__item.is-left.is-active{
  background-color:#081024;
}
/*.el-table .cell .up{*/
  /*color:#ac4f55;*/
/*}*/

/*.el-table .cell .down{*/
  /*color:#598f66;*/
/*}*/

/*赵鑫磊修改elementui*/
.recharge-box .el-button--primary{
  background-color:#455993;
  border-color:#455993;
  width:100%;
}
.el-date-editor .el-range__icon{
  line-height: 24px;
}

.picker .el-date-editor .el-range-separator{
  color:#fff;
}
/*错误提示*/
.false-tips {
  margin-top: 20px;
  color: #e9494d;
}

.false-tips i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  /*background: url('../assets/errorIcon.png') no-repeat center center;*/
  background: url('../src/assets/errorIcon.png') no-repeat center center;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
}
