body,div,html,.con-box,li,ul,p{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:#000;
}
input,button,textarea,select{
	border:none;
	outline:none;
	background-color: transparent;
	color:#fff;
	display: block;
	box-sizing: border-box;
  font-size: 14px;
}
select{
  border-radius:0;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll rightright center transparent;
  /*border:1px solid #fff;*/
}
select::-ms-expand { display: none; }
ul,li{
	list-style: none;
}
.clearfix::before{
	clear:both;
	content:'';
	height:0;
	visibility:hidden;
	display:none;
}
.clearfix{
	*zoom:1;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ov{
	overflow: hidden;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/

  color: #fff;
  font-size: 12px;
}

input::-moz-input-placeholder{ /*Mozilla Firefox*/

  color: #fff;
  font-size: 12px;
}

input::-ms-input-placeholder{ /*Internet Explorer*/

  color: #fff;
  font-size: 12px;
}

.fff{
  color:#fff;
}
.blue{
  color:#407edf;
}
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.fz16{
  font-size: 16px;
}
.fz12{
  font-size: 12px;
}
.middle{
  top:50%;
  transform: translateY(-50%);
}
.dis-in-blk{
  display:inline-block;
}
.tr{
  text-align:right;
}
.tl{
  text-align:left;
}
.bn{
  border:none !important;
}
.ml10{
  margin-left:10px;
}
.ml20{
  margin-left:20px;
}
.ml30{
 margin-left: 30px;
}
.ml40{
  margin-left:40px;
}
.ml50{
  margin-left:50px;
}
.ml60{
  margin-left:60px;
}
.ml70{
  margin-left:70px;
}
.ml80{
  margin-left:80px;
}
