body,div,html,.con-box,li,ul,p{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:#000;
}
input,button,textarea,select{
	border:none;
	outline:none;
	background-color: transparent;
	color:#fff;
	display: block;
	box-sizing: border-box;
  font-size: 14px;
}
select{
  border-radius:0;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll rightright center transparent;
  /*border:1px solid #fff;*/
}
select::-ms-expand { display: none; }
ul,li{
	list-style: none;
}
.clearfix::before{
	clear:both;
	content:'';
	height:0;
	visibility:hidden;
	display:none;
}
.clearfix{
	/**zoom:1;*/
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ov{
	overflow: hidden;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/

  color: #fff;
  font-size: 12px;
}

input::-moz-input-placeholder{ /*Mozilla Firefox*/

  color: #fff;
  font-size: 12px;
}

input::-ms-input-placeholder{ /*Internet Explorer*/

  color: #fff;
  font-size: 12px;
}

.fff{
  color:#fff;
}
.blue{
  color:#407edf;
}
.red{
  color:#fc0d1c;
}
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.fz22{
  font-size: 20px;
}
.fz16{
  font-size: 16px;
}
.fz12{
  font-size: 12px;
}
.middle{
  top:50%;
  transform: translateY(-50%);
}
.dis-in-blk{
  display:inline-block;
}
.tr{
  text-align:right;
}
.tl{
  text-align:left;
}
.tc{
  text-align: center;
}
.bn{
  border:none !important;
}
.mt-5{
  margin-top:-5px !important;
}
.mt-10{
  margin-top:-10px !important;
}
.mt-20{
  margin-top:-20px !important;
}
.mb-20{
  margin-bottom:-20px;
}
.ml10{
  margin-left:10px;
}
.ml20{
  margin-left:20px;
}
.ml30{
 margin-left: 30px;
}
.ml40{
  margin-left:40px;
}
.ml50{
  margin-left:50px;
}
.ml60{
  margin-left:60px;
}
.ml70{
  margin-left:70px;
}
.ml80{
  margin-left:80px;
}
.ml90{
  margin-left:90px;
}
.ml100{
  margin-left:100px;
}
.fw4{
  font-weight: 400;
}
.fw7{
  font-weight: 700;
}
.cp{
  cursor: pointer;
}
.bd1{
  border:1px solid #fff;
}
.db1p{
  border:1px dotted #fff;
}
.mb10{
  margin-bottom:10px;
}
.mb20{
  margin-bottom:20px;
}
.h40{
  height:40px;
}
.pdlr10{
  padding:0 10px;
}
.pd20{
  padding:20px;
}
.bdr5{
  border-radius:5px;
}
.bdr0{
  border-radius:0px;
}
.w220{
  width: 220px;
}
.w100p{
  width:100% !important;
}
.w80p{
  width:80%;
}
.h380{
  height:380px;
}
.lh100{
  line-height:100px;
}
